/* Write your CSS here */
.warp {
  display: flex;
  flex-wrap: wrap;
}
.main {
  width: 100vw;
  background-size: cover;
}
.input {
  height: 3vh;
  width: 250px;
}
.srh {
  height: 20px;
  width: 20px;
}
